/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* TULIS CODE MULAI DARI SINI */
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
/* AWAL HEADER */
header{
    width: 100%;
    background-color: black;
    height: 50px;
    box-shadow: 0 1px 8px rgba(41, 41, 41, 0.479);
    padding: 0 20px;
    position: fixed;
    top: 0;
    z-index: 2;
}
.header-flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-logo a{
    font-size: 32px;
    font-weight: bold;
    line-height: 50px;
    color: white;
}
.header-nav li{
    float: left;
}
.header-nav a{
    color:rgba(255, 255, 255, 0.911);
    padding: 0 20px;
    background-color: black;
    line-height: 50px;
    display: block;
    transition: all 0.4s;
    font-size: 18px;
}
.header-nav a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(58, 58, 58);
}
.bar{
    color: white;
    font-size: 25px;
    display: none;
}
/* AKHIR HEADER */
